@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'source sans 3';
}

.invoice-details p {
  color: rgba(128, 128, 128, 0.651);
}

.invoice-details h4 {
  font-size: 16px;
}

.form-input input,
.form-input option {
  color: black;
}
